/*Your styles*/

 body {
    margin: 0px;
}

.clickable {
  cursor: pointer; 
}

#content {
  margin: 10px;
}

#helpers {
  margin-right:auto;
  margin-left:auto;
  vertical-align:middle;
  width:100%;
}

#footer {
  text-align: right;
  width:100%;
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer img {
  vertical-align:middle;
}

#header {
  text-align: center;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#TestButton{
    width: 100%;
}

/* cc colors placeholders */
.cc{}
.ccwidget{}
.ccheader{}
.svg{}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
  border:1px solid;
  border-radius:2px;
  height:20px;
  vertical-align:bottom;
  font-family:inherit;
  color:inherit;
  font-size:inherit;
}